body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}

.container-flex{
    width: 400px;
    height: 600px;
    font-size: 30px;
    background-color: aqua;
}

.div p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: azure;
}